@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html,body {
  height: 100%;
}

.wrapper {
  height: 100%;
  font-family: 'Ubuntu';
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90%;
  width: 100%;
  color: white;
  text-align: center;
  display: table;
}

.fixed-bg button {
  vertical-align: middle;
}

.scroll-bg {
  background-color: #0f0f0a;
  padding: 10px 70px;
  color: #898989;
}

/* first section */

.bg-1 {
  background-image: url('f11.jpg');
}

/* third section */

.bg-2 {
  background-image: url('f12.jpg');
}

/* fifth section */

.bg-3 {
  background-image: url('f13.jpg');
}

.bg-4 {
  background-image: url('f15.jpg');
}

.bg-5 {
  background-image: url('f16.jpg');
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #000000;
}

            th, td {
              text-align: left;
              padding: 16px;
            }

            tr:nth-child(even) {
              background-color: #787878;
            }

            tr:nth-child(odd) {
              background-color: #676767;
            }

            .center {
                margin: 0;
                position: absolute;
                left: 50%;
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            body{
                font-family: 'Ubuntu';
            }
            .button {
                border-radius: 4px;
                background-color: #f4511e;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-size: 28px;
                padding: 20px;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .button:hover span {
                padding-right: 25px;
            }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }

.question{
  font-size: 25px;
  color: #a6a6a6;
}